<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ffffff; padding: 1rem 0;">
    <div>
        <span class="badge badge-warning" style="color: #ffffff; font-size: 1.3rem;">B</span>
        <a class="navbar-brand" href="/">Библиотеку</a>
    </div>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Главная <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>